<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home/Search</title>
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/style.css" />

</head>

<body>
  <h1>Search for a Movie</h1>

<form class="" action="/results" method="GET">
  <input type="text" placeholder="search term" name="search">
  <input type="submit">
</form>

  <script type="text/javascript" src="assets/js/script.js" charset="utf-8"></script>
</body>

</html>
