<h1>Signup form</h1>

<form action="/register" method="post">
  <input type="text" placeholder="Username" name="username">
  <input type="password" placeholder="Password" name="password">
  <button>Submit</button>
</form>

<a href="/login">Login</a>
<a href="/logout">Logout</a>