<% include partials/header %>
<h1>Campgrounds</h1>
<a href="/">home</a>
<% campgrounds.forEach(function(campgrounds){ %>
<div>
  <h4>
    <%= campgrounds.name %>
  </h4>
  <img src="<%= campgrounds.image %>" alt="<%= campgrounds.name %>">
</div>
<% });%>
<script type="text/javascript" src="assets/js/script.js" charset="utf-8"></script>
<% include partials/footer %>