<% include partials/header %>
<h1>Campgrounds</h1>
<a href="/">Home</a>
<a href="/campgrounds/new">Add a new campgound</a>
<% campgrounds.forEach(function(campgrounds){ %>
<div>
  <h4>
    <%= campgrounds.name %>
  </h4>
  <img src="<%= campgrounds.image %>" alt="<%= campgrounds.name %>">
</div>
<% });%>
<% include partials/footer %>